html {
  font-size: 100%;
}

@media (max-width: 768px) {
  html {
      font-size: 85%;
  }
}

body {
  background-color: black;
  background-image: linear-gradient(
          to top,
          transparent 50%,
          rgba(0, 0, 0, 1) 100%
      ),
      url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100% 100%;
  background-size: 100% 100%;
}
